* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 320px;
    margin-top: 30px;
}

h1 {
    color: #fff;
}

label {
    font-weight: 500;
}

.weight-box {
    margin-bottom: 15px;
}

.height-box {
    margin-bottom: 25px;
}

#weight {
    margin: 0 10px;
    padding: 5px;
    width: 80px;
    border: none;
    background-color: #d7d7d7;
    outline: none;
    font-size: 20px;
}

#height {
    margin: 0 14px;
    padding: 5px;
    width: 80px;
    border: none;
    background-color: #d7d7d7;
    outline: none;
    font-size: 20px;
}

button {
    padding: 8px 10px;
    width: 100%;
    border: none;
    background-color: orangered;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.result {
    margin-top: 20px;
    font-weight: 700;
}
